.card {
//   flex: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 30px;
  height: 100%;
  background-color: #f4f6f9;

  .content {
    font-size: 1rem;
  }
  .heading{
    font-weight: 600;
    }
}

@media (min-width: 50rem) {
  .card {
    padding: 50px;
    
  }
}

